{% extends "base.html" %}
{% block content %}

<div class="container-fluid" style="width: fit-content; margin-top: 2%">
    <div class="card text-center">
        <div class="card-header" style="background-color: darkseagreen">
            <h2>Inserisci le informazioni del tuo farmaco</h2>
        </div>
        <div class="card-body">
            <form name="ins_box_form" style="margin-top: 2%" method="POST" role="form">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="nome" placeholder="name@example.com">
                    <label for="floatingInput">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="tipologia" placeholder="name@example.com">
                    <label for="floatingInput">Tipologia</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="int" class="form-control" name="tempoElaborazione" placeholder="name@example.com">
                    <label for="floatingInput">Tempo</label>
                </div>
                <input type="submit" value="Carica il tuo farmaco" class="btn btn-outline-success btn-lg">
                <br>
            </form>
        </div>
    </div>
</div>

{% endblock %}